.nav {
    padding: 10px; 
    background-color: black;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-family: 'Roboto', sans-serif;
  }
  
  
  .nav-title {
    color: white;
    margin: 0; 
    padding: 0 10px; 
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
  }
  
  .nav-links li {
    margin-right: 20px; 
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .btn {
    background-color: rgb(137, 237, 239);
    color: black; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  